.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 300ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  margin-bottom: 12px;
}

.input-field {
  margin-bottom: 10px;
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  padding: 12px 2px 12px 42px;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-button {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }
}

.policy-field {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.policy-label {
  display: flex;
  align-items: center;
}

.policy-icon {
  border: 2px solid var(--secondary-dark-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  .policy-input:checked + .policy-label > & {
    background-color: var(--accent-color);
    border: #2196f3;
  }
}

.policy-link {
  color: var(--accent-color);
  margin-left: 3px;
}
