.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-dark-color);
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
