.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--background-dark-color);
  background-image: var(--gradient), url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @include retina {
    background-image: var(--gradient), url(../images/hero-mob-2x.jpg);
  }
  @include tablet {
    background-image: var(--gradient), url(../images/hero-tab.jpg);
    @include retina {
      background-image: var(--gradient), url(../images/hero-tab-2x.jpg);
    }
  }
  @include desktop {
    background-image: var(--gradient), url(../images/hero.jpg);
    @include retina {
      background-image: var(--gradient), url(../images/hero-2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  height: 84px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-color);
  @include mobile {
    font-size: 26px;
  }
  @include desktop {
    max-width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 10px 24px;
  margin-top: 30px;
  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }
  @include desktop {
    padding: 10px 32px;
  }
}
