.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.work-list__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.work-list__thumb {
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-light-color);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
